*{
    font-family: 'Montserrat', sans-serif;
}
body{
     /* ff 3.6+ */
     background:-moz-radial-gradient(circle at 24% 14%, rgba(121, 143, 230, 1) 0%, rgba(255, 255, 255, 1) 50%, rgba(255, 255, 255, 1) 100%);

     /* safari 5.1+,chrome 10+ */
     background:-webkit-radial-gradient(circle at 24% 14%, rgba(121, 143, 230, 1) 0%, rgba(255, 255, 255, 1) 50%, rgba(255, 255, 255, 1) 100%);
 
     /* opera 11.10+ */
     background:-o-radial-gradient(circle at 24% 14%, rgba(121, 143, 230, 1) 0%, rgba(255, 255, 255, 1) 50%, rgba(255, 255, 255, 1) 100%);
 
     /* ie 10+ */
     background:-ms-radial-gradient(circle at 24% 14%, rgba(121, 143, 230, 1) 0%, rgba(255, 255, 255, 1) 50%, rgba(255, 255, 255, 1) 100%);
 
     /* global 92%+ browsers support */
     background:radial-gradient(circle at 24% 14%, rgba(121, 143, 230, 1) 0%, rgba(255, 255, 255, 1) 50%, rgba(255, 255, 255, 1) 100%);
 
}
.card-element{
    background-color: transparent !important;
    border-radius: 20px !important;
    border: 1px solid #fff !important;
}
.todo-item-completed{
    -webkit-text-decoration-line: line-through; /* Safari */
   text-decoration-line: line-through; 
}
.add-btn{
    background-color: #4365ef;
    color: #fff;
}